@tailwind base;
@tailwind components;
@tailwind utilities;


body {
 background-color: rgb(21, 21, 21);
  font-family: Arial, Helvetica, sans-serif;
  max-width: 1700px;
  margin: auto;
}
hr{
  border-color: rgb(49, 47, 47)!important;
}

.global-w {
  width: 80%;
  margin: 1rem auto;
}

@media (max-width: 1100px) {
  .global-w {
    width: 95%;
 
  }
}
